<div class="mt-5 card">
  <div class="card-header">
    <h1>Edit User</h1>
  </div>
  <div class="card-body">
    <form>
      <div class="mb-3">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name" placeholder="Name" />
      </div>
      <div class="mb-3">
        <label for="job">Job Title</label>
        <input
          type="text"
          class="form-control"
          id="job"
          placeholder="Job Title"
        />
      </div>

      <button type="submit" class="btn">Update</button>
    </form>
  </div>
</div>
