<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><i class="fa-solid fa-users"></i> TopupMama</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="ms-auto collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/core/users']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >users</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            [routerLink]="['/core/myaccount']"
            routerLinkActive="active"
            >my account</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link">logout</a>
        </li>
        <!-- shows location's flag -->
        <li class="location nav-item">
          <div></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
