<div class="auth-wrapper">
  <div class="container-fluid">
    <div class="row">
      <div class="content-div col-sm-12 col-md-5 col-lg-5">
        <div class="card-header">
          <h1>Login</h1>
        </div>
        <div class="card">
          <div class="card-body">
            <form [formGroup]="loginForm" (ngSubmit)="loginUser()">
              <div class="mb-3">
                <label for="emailInput" class="form-label">Email address</label>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                  </div>
                  <input
                    type="email"
                    class="form-control"
                    id="emailInput"
                    placeholder="name@example.com"
                    formControlName="email"
                  />
                </div>
                <div
                  class="invalid-text"
                  *ngIf="
                    loginForm.get('email')?.touched &&
                    loginForm.get('email')?.invalid
                  "
                >
                  <p *ngIf="loginForm.get('email').errors['required']">
                    Email is required!
                  </p>
                  <p *ngIf="loginForm.get('email').errors['email']">
                    Email is not valid!
                  </p>
                </div>
              </div>

              <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <div class="input-group">
                  <input
                    [type]="fieldTextType ? 'text' : 'password'"
                    class="form-control"
                    id="passwordInput"
                    formControlName="password"
                  />
                  <div class="input-group-append">
                    <span class="input-group-text">
                      <i
                        class="fa fa-eye-slash"
                        [ngClass]="{
                          'fa-eye-slash': !fieldTextType,
                          'fa-eye': fieldTextType
                        }"
                        (click)="toggleFieldTextType()"
                      >
                      </i>
                    </span>
                  </div>
                </div>
                <div
                  class="invalid-text"
                  *ngIf="
                    loginForm.get('password').touched &&
                    loginForm.get('password').invalid
                  "
                >
                  <p *ngIf="loginForm.get('password').errors['required']">
                    password is required!
                  </p>
                  <div *ngIf="loginForm.get('password').errors['pattern']">
                    Password must be atleast 8 characters, have alphanumeric and
                    special character
                  </div>
                </div>
              </div>

              <div class="mb-3">
                <button
                  type="submit"
                  class="mr-10 btn"
                  [disabled]="!loginForm.valid"
                >
                  Login
                </button>
              </div>
              <p>
                Don't have an account?
                <a [routerLink]="['/auth/register']">Register</a>
              </p>
            </form>
          </div>
        </div>
      </div>
      <div class="big-div col-md-7 col-lg-7"></div>
    </div>
  </div>
</div>
